html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    padding: 0px 25px;
}
.findFriendsBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 2px;
}
.findFriendsBar input {
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    padding: 4px 10px;
    width: 350px;
    font-size: 2.5rem;
}
.findFriendsBar img {
    width: 60px;
    border-radius: 100%;
    margin-left: auto;
}
.profile-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1300px;
    border: 1px solid rgb(128, 128, 128, 0.3);
    border-radius: 0 0 20px 20px ;
    padding-bottom: 60px;
}
.cover-photo {
    height: 750px;
    width: 1300px;
}
.profile-photo {
    width: 250px;
    border-radius: 100%;
    margin-left: 60px;
    margin-top: -120px;
}
.name-country {
    font-size: 2rem;
    margin-left: 350px;
    margin-top: -80px;
}
.name-country h2 {
    font-weight: 500;
}
.addPost {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}
.addPost input {
    font-size: 2.2rem;
    border: none;
    background-color: rgb(233, 233, 233);
    padding: 10px 15px;
    border-radius: 20px;
    width: 700px;
}
.addPost button {
    margin-left: 20px;
    border-radius: 10px;
    padding: 0 80px;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    background-color: #807cff;
}
.addPost button:hover {
    background-color: #6561e4;
}
.feed {
    background-color: #d9d9ff;
    padding: 40px 25px;
}
.friends {
    background-color: white;
    width: 850px;
    height: 750px;
    padding: 30px;
    font-size: 2rem;
    border-radius: 20px;
}
.friends h2 {
    margin-top: 15px;
    font-weight: 500;
}
.friend-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px 50px;
    justify-items: center;
    margin-top: 30px;
}
.friend-images li {
    list-style-type: none;
    text-align: center;
}
.friend-images img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}