html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    padding: 0px 25px;
}
.main button {
    cursor: pointer;
}
.findFriendsBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 2px;
}
.findFriendsBar input {
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    padding: 4px 10px;
    width: 350px;
    font-size: 2.5rem;
}
.findFriendsBar img {
    width: 90px;
    border-radius: 100%;
    margin-left: auto;
}
.searchFriends {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 10px rgb(0, 0, 0, 0.1);
}
.friend {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    transition: 0.1s ease-in-out;
    list-style-type: none;
    font-size: 2.3rem;
}
.friend h4 {
    margin-left: 20px;
}
.friend:hover {
    transition: 0.1s ease-in-out;
    background-color: rgb(219, 219, 219)
}
.friend img {
    height: 90px;
    width: 90px;
    border-radius: 80px;
    object-fit: cover;
}
.friend h3 {
    font-size: 2rem;
    margin-left: 10px;
}
.profile-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1300px;
    border: 1px solid rgb(128, 128, 128, 0.3);
    border-radius: 0 0 20px 20px ;
    padding-bottom: 60px;
}
.cover-photo {
    height: 750px;
    width: 1300px;
}
.profile-photo {
    width: 250px;
    border-radius: 100%;
    margin-left: 60px;
    margin-top: -120px;
}
.name-country {
    font-size: 2rem;
    margin-left: 350px;
    margin-top: -80px;
}
.name-country h2 {
    font-weight: 500;
}
.addPost {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}
.addPost input {
    font-size: 2.2rem;
    border: none;
    background-color: rgb(233, 233, 233);
    padding: 10px 15px;
    border-radius: 20px;
    width: 700px;
}
.addPost button {
    margin-left: 20px;
    border-radius: 10px;
    padding: 0 80px;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    background-color: #807cff;
}
.addPost button:hover {
    background-color: #6561e4;
}
.feed {
    display: flex;
    background-color: #d9d9ff;
    padding: 40px 25px;
}
.posts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.post {
    list-style-type: none;
    background-color: white;
    width: 870px;
    margin-left: 40px;
    border-radius: 20px;
    padding: 30px;
}
.post img {
    height: 90px;
    width: 90px;
    border-radius: 80px;
    object-fit: cover;
}
.post h3 {
    margin-top: 40px;
    font-size: 5rem;
    font-weight: 500;
}
.photo-name-date {
    display: flex;
    align-items: center;
}
.name-Date {
    margin-left: 15px;
}
.name-Date h1 {
    font-size: 3rem;
}
.name-Date h2 {
    font-size: 2rem;
    font-weight: 500;
    color: gray;
}
.comment {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    scale: 0.9;
}
.comment-name {
    width: 100%;
}
.comment-name h1 {
    font-size: 2.4rem;
}
.comment-name input {
    width: 100%;
    padding: 8px 10px;
    font-size: 2.4rem;
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    margin-top: 10px;
}
.addComment{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.addComment input {
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    padding: 4px 10px;
    width: 100%;
    font-size: 2.5rem;
}
.addComment button {
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    background-color: #807cff;
}
.addComment button:hover {
    background-color: #6561e4;
}
.showComment {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    font-size: 2.2rem;
    margin-top: 20px;
}
.showComment h5 {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 0;
    margin-left: auto;
}
.showComment h4 {
    word-spacing: 2px;
}
.likeCommentBtns {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.likeCommentBtns button{
    border: 2px solid rgb(128, 128, 128, 0.2);
    border-radius: 20px;
    padding: 0;
    font-size: 2.2rem;
    font-weight: 700;
    color: black;
    background-color: white;
    flex: 1;
}
.likeCommentBtns button:hover {
    background-color: rgb(128, 128, 128, 0.2);
}
.friends {
    background-color: white;
    width: 850px;
    height: 750px;
    padding: 30px;
    font-size: 2rem;
    border-radius: 20px;
}
.friends h2 {
    margin-top: 15px;
    font-weight: 500;
}
.friend-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px 50px;
    justify-items: center;
    margin-top: 30px;
}
.friend-images li {
    list-style-type: none;
    text-align: center;
}
.friend-images img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.dot {
    margin-left: auto;
    margin-right: 10px;
    scale: 1.6;
    cursor: pointer;
}
.dots-content{
    position: absolute;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.2);
    right: 185px;
    z-index: 1;
    margin-top: 150px;
}
.dots-content button {
    display: block;
    font-size: 2.5rem;
    padding: 5px 20px;
    border: none;
    text-align: left;
    transition: 0.1s ease-in-out;
    width: 100%;
}
.dots-content button:hover {
    transition: 0.1s ease-in-out;
    background-color: rgb(204, 204, 204);
}
.post-value {
    font-size: 5rem;
    margin-top: 20px;
    padding: 5px 15px;
    width: 100%;
}
.saveBtn {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 5px 10px;
    font-size: 2.8rem;
    font-weight: 500;
    color: white;
    background-color: #807cff;
    border-radius: 8px;
}
.saveBtn:hover {
    background-color: #6561e4;
}
.commentDot {
    scale: 1.6;
    cursor: pointer;
    position: relative;
}
.dots-contentComments {
    position: absolute;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 3;
    margin-top: 30px;
    margin-right: 30px;
}
.dots-contentComments button {
    display: block;
    font-size: 2.5rem;
    padding: 5px 20px;
    border: none;
    text-align: left;
    transition: 0.1s ease-in-out;
    width: 100%;
}
.dots-contentComments button:hover {
    background-color: rgb(186, 186, 186);
}
